* {
	margin: 0;
	padding: 0;
}

.access, hr {
	display: none;
}

body {
	background: #fff;
	font: 0.78em Arial,Sans-serif;
	text-align: center;
	color: #333;
}

p {
	line-height: 1.3em;
	margin: 0px;
}

a {
	color: #28C;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

a:focus {
	-moz-outline: none;
}

h1 { 
	font-size: 150%;
}

h2 { 
	font-size: 130%;
}


#container {
	width: 900px;
	margin: 0 auto;
	text-align: left;
}

#header { 
	height: 70px;
	background-color: #EEE;
	font-size: 200%;
	padding-top: 20px;
	text-align: center;
	border: 1px solid black;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 20px 0px;

}

#content { 
	float: left;
	width: 630px;
	text-align: left;
	overflow: hidden;
}

#rightmenu {
	float: right;
	width: 250px;
	text-align: left;
}

#filter_form, #create_locale_form, #create_key_form {
	background-color: #EEE;
	border: 1px solid black;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
	padding: 10px;
}

#create_locale_form label, #create_key_form label { 
	display: inline-block;
	width: 80px;
}

#create_locale_form p { 
	margin: 5px 0px;
}


.clearfix { 
	clear: both;
}

.translation-box { 
	border: 1px solid #2BF;
	background-color: #DEF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.translation-box:hover { 
	background-color: #FFD;
	border: 1px solid #DD2;
	cursor: pointer;

}

.translation-box-editable { 
	border: 1px solid #4B9;
	background-color: #EFF8EF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.translation-box-content { 
	padding: 10px;
}

.translation-title { 
	margin-top: 10px;
}

li { 
	list-style: circle;
	margin-left: 10px;
}

.textarea_editable { 
	width: 100%;
	height: 5em;
	border: 1px solid #286;
}

.button { 
	padding: 3px 0px;
	margin: 10px 0px 00px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-weight: bold;
	font-size: 110%;
}

.button:hover { 
	cursor: pointer;
	-moz-outline: none;
}

.save {
	border: 2px solid #ADB;
	background-color: #E8FFE8;
	color: black;
	width: 100px;
}


.save:hover { 
	background-color: #F0FFF0;
}

.create {
	border: 2px solid #AAA;
	background-color: #F0F0F0;
	color: black;
	width: 100px;
}

.create:hover {
	background-color: #F8F8F8;
}


.cancel {
	border: 2px solid #DBA;
	background-color: #FFE8E8;
	color: black;
	width: 100px;
}

.cancel:hover { 
	background-color: #FFF0F0;
}

.warning { 
	margin: 10px 0px;
	color: red;
	font-weight: bold;
	border: 2px solid red;
	padding: 5px;
}

.loader { 
	height: 10px;
	overflow: hidden;
}

.loader:after { 
	content: url(/images/i18n_ui/ajax-loader.gif)
}
.table_editable { 
	padding: 5px;
}

